@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
  }

  label {
    @apply font-bold;
  }

  input, textarea, [contenteditable="true"] {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 bg-gray-100 p-2;
  }

  *:focus {
    outline: none;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #cbd5e0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #cbd5e0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 4px;
  border: 2px solid #cbd5e0;
}